<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    
    @await Html.PartialAsync("MetatagsPartial")

    @await Html.PartialAsync("LinkPartial")

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start header -->
    @await Html.PartialAsync("HeaderPartial") 
    <!-- End header -->

    @RenderBody()

    <!-- Start Contact info -->
    @await Html.PartialAsync("ContactPartial") 
    <!-- End Contact info -->

    <!-- Start Footer -->  
    @await Html.PartialAsync("FooterPartial")
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

    @await Html.PartialAsync("ScriptsPartial") 
</body>
</html>